html {
    background-color: rgba(234,235,229,93);
    position: center;
}
body {
	width: 100px;
	height: 10px;
	position: left;
}
.circle1 {
	display: inline-block;
	width: 800px;
	height: 800px;
	border-radius: 50%;
	margin-top: -300px;
	margin-left: 800px;
	align-items: stretch;
	flex-grow: 4px;
	background-color: rgba(20,28,31,10);
	-webkit-animation: scaling 1.3s infinite linear;
}
#shapes {	
		/*transform-origin: */
		/*-webkit-animation: rotation 1.3s infinite linear;*/
}
@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(350deg);
		}
}
@-webkit-keyframes scaling {
		from {
				-webkit-transform: scale(1);
		}
		to {
				-webkit-transform: scale(.5);
		}
}
.circle2 {
	display: inline-block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: rgba(20,28,31,10);
	margin-top: -250px;
	margin-left: 915px;
	margin-bottom: -30px;
	opacity: 80%;
}
.circle3 {
	display: inline-block;
	width: 300px;
	height: 300px;
	border-radius: 50%;
	background-color: rgba(20,28,31,10);
	margin-top: -250px;
	margin-left: 573px;
	align-items: stretch;
	flex-grow: 4px;
	opacity: 80%;
}
.circle4 {
	display: inline-block;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	background-color: rgba(20,28,31,10);
	margin-top: -55px;
	margin-left: 811px;
	align-items: stretch;
	flex-grow: 4px;
	opacity: 80%;
}
p{
  font-family: "Verdana", Verdana, sans-serif;
  font-size: 12px;
}
h1 {
	font-family: "Arial", Arial, sans-serif;
	font-size: 18px;
}
.text1{
width: 500px;
  height: 100px;
  -webkit-flex-wrap: wrap;
margin-top: -50px;
	margin-left: 600px;
	margin-bottom: 70px;
  align-content: left;
  object-position: left;
  opacity: 80%;
  color: rgba(20,28,31,10);
}
.text2{
	width: 500px;
  height: 100px;
margin-top: -170px;
	margin-left: 800px;
	margin-bottom: 10px;
  -webkit-align-content: center;
  align-content: center;
  opacity: 80%;
  color: rgba(20,28,31,10);
}
.text3{
		width: 500px;
  height: 100px;
margin-top: -20px;
	margin-left: 1070px;
	margin-bottom: 30px;
  -webkit-align-content: center;
  align-content: center;
  opacity: 80%;
  color: rgba(20,28,31,10);
  fon
}
.tittle{
	margin-top: 0px;
	margin-left: 1070px;
	margin-bottom: 40px;
	color: rgba(20,28,31,10);
	font-size:12px;
	width:200px;
}

